---
import type { FrontmatterProps } from "src/lib/types";
import Layout from './Layout.astro'

type Props = {
  content: FrontmatterProps
}

const {
  content: { title, description, publishDate, heroImage },
} = Astro.props as Props;
---

<Layout title={title} description={description} image={heroImage.src}>
  <article class="space-y-6">
    {heroImage && (
    <img width="896" height="400" src={heroImage.src} alt={heroImage.alt} title={heroImage.alt} class="rounded" />
    )}
    <div>
      <h1 class="text-4xl font-bold md:text-5xl">{title}</h1>
      <p class="mt-3 text-sm text-gray-500">{publishDate}</p>
    </div>
    <div
      class="leading-relaxed prose prose-headings:text-[#111111] prose-p:text-[#111111] prose-code:text-[#ff5d01] prose-strong:text-[#111111] max-w-none">
      <slot />
    </div>
  </article>
</Layout>